.errorMsg {
  font-size: 12px;
  color: red;
}

.input__check:invalid[focused="true"] {
  border: 1px solid red !important;
}

.input__check:invalid[focused="true"] ~ span {
  display: block;
}

.pagination-right {
  display: flex;
  flex-direction: row-reverse;
}
